.fa-star {
    margin: 0.5rem;
    font-size: 24px;
}

span {
    display: inline-block;
    margin: 0.5rem;
    text-align: center;
    background-color: #ccc;
    width: 24px;
    border-radius: 50%;
    cursor: pointer;
}

.selected {
    background-color: #eee;
    color: #ddd;
    cursor: not-allowed;
}

.used {
    background-color: #aaddaa;
    color: #99bb99;
    cursor: not-allowed;
}

.border {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}
